.body{
    position:"relative";
}
.main{
    border-radius: 15px;
    height: 100vh;
    width: 100wh;
    background-color: rgb(165, 247, 165);
    justify-content: center;
    padding-top: 20%;
    padding-left: 10%;
    
}
.btn{
    background-color: white;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 75px;
    font-weight: bold;
}
h3{
    padding: 0px;
    margin: 10px;
    font-weight: bold;

}